footer {
    z-index: 2;
    position: absolute;
}

.home-left {
 height: 100vh;
 background: #031527;
}

.home-right {
    height: 100vh;
}

.main-title {
position: absolute;
margin: 0;
padding: 0;
color: #f9f1e9;
text-align: center;
top: 50%;
left: 50%;
-webkit-transform: translate3d(-50%,-50%,0);
transform: translate3d(-50%,-50%,0);
}

.main-title {
text-transform: uppercase;
font-size: 2.2rem;
letter-spacing: 0.1em;
}

.main-title .thin {
font-weight: 200;
}

@media only screen and (max-width : 768px) {
.main-title {
 font-size: 1rem;
}
}
