/*Logo*/
img#mars_logo {
    padding: 0.5rem;
    padding-right: 1.5rem;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    margin-top: 0.5rem;
    max-width: 360px;
    max-height: 5rem;
}

/*Main Nav*/

.the_top_bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: rgb(0, 16, 33);
    background: -moz-linear-gradient(0deg, rgba(0, 16, 33,1) 0%, rgba(21, 56, 85,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 16, 33,1) 0%, rgba(21, 56, 85,1) 100%);
    background: linear-gradient(0deg, rgb(0, 16, 33,1) 0%, rgba(21, 56, 85,1) 100%);
    color: #fff;
    padding-left: 1%;
    font-weight: 600;
}

a.the_top_buttons {
    background: #fff;
    color: #600d0b;
    padding: .2% 2%;
    float: right;
    margin: .3%;
    text-decoration: none !important;
    font-weight: 700;
    font-size: .8rem;
    transition: .3s;
    transition-timing-function: ease-in-out;
}

a.the_top_buttons:hover {
    text-decoration: none;
    color: #600d0b;
    background: #d3ccbc;
    transition: .3s;
    transition-timing-function: ease-in-out;
}

.row_in_top {
    max-width: 1320px;
    display: block;
    margin: auto;
}

.col-in_top {
    width: 50%;
    display: inline;
}

.col-in_top.top-left a {
    color: #fff;
    text-decoration: none;
    font-size:1rem;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.col-in_top.top-left svg.svg-inline--fa {
    color: #fff !important;
}

.stick-to-top {
    position: fixed;
    top: 1.2rem;
    right: 0;
    left: 0;
    z-index: 1030;
}

.mars_nav {
    background: #fff;
    border-bottom: .05rem solid #f2d599;
    padding-bottom: .1rem;
    box-shadow: 0 .05rem 1rem #0000009c;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(51,51,51,.9) !important;
    font-size: .85rem;
    font-weight: 500;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    width: max-content;
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu.dropdown-menu-left.show {
    background: #f4f4f4;
    font-size: .85rem;
}

.dropdown-item{
    font-weight: 500;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #dbd7d0 !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #86c7cc !important;
    color: #000 !important;
}


/*Body*/
.mycontent {
    margin-top: 2%;
}

/*Mobile Nav*/
.navbar-dark .navbar-toggler {
    border-color: rgb(32 32 32 / 10%);
    background: #662d91;
}

.nav-wrapper {
    display: inline-block;
    background: #061c30;
    padding: 0.2rem;
    vertical-align: middle;
    float: right;
    border-radius: 0.1rem;
    /* margin-top: 1rem; */
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0.05rem 0.1rem #0000009c;
}

.nav-wrapper:active {
  box-shadow: none;
}


#nav-ul-1::-webkit-scrollbar
{
	width: 0.4rem;
	background-color: #F5F5F5;
}

#nav-ul-1::-webkit-scrollbar-thumb
{
  background-color: #dcdcdc;
  border: 1px solid #dddddd;
}

/* Mobile Nav Icon 3 */
.nav-wrapper,
/* .mars_mobile_nav1, */
.mobile-connect1 {display: none !important;}

p.mega-header1 {
    font-size: 1rem;
    font-weight: 200;
    padding: 0.2rem
}

.mega-header1 a {
    color: #000;
}

#nav-icon3 {
  width: 2.2rem;
  height: 2.2rem;
  position: relative;
  margin-top: 0rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float:right;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: .22rem;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0rem;
  margin-top: 0.3rem;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: .7rem;
  margin-top: 0.3rem;
}

#nav-icon3 span:nth-child(4) {
  top: 1.4rem;
  margin-top: 0.3rem;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
  margin-top: 0.3rem;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #e3c88b;
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #b4ebfa;
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



/*Mega Menu*/
.nav-item.dropdown.dropdown-mega {
	 position: static;
}
 .nav-item.dropdown.dropdown-mega .dropdown-menu {
	 width: 90%;
	 left: 5%;
}


.navfonts1 {
  font-size: .9rem !important;
  letter-spacing: .03rem !important;
}

.navfonts2 {
  font-size: .85rem !important;
  letter-spacing: normal !important;
}


/* Media Q*/


@media only screen and (max-width: 1200px) {
  a.dropdown-item.list-group-item {
      font-size: .7rem;
  }

}



@media only screen and (max-width: 991px) {
      .admin-dash-nav{display:none;}
      #whole-nav-wrapper {display: contents;}
      .nav-item {
          text-align: right;
          font-size: 1.2rem;
          border-top: .01rem solid #e1e1e1;
      }
      .dropdown-menu{
          border: none !important;
      }
      .navbar-dark .navbar-nav .nav-link{font-size: 1rem !important; width: 100%;}
      .dropdown-item {
          margin-top: 2%;
          margin-bottom: 2%;
          font-size: .85rem;
          border-top: .05rem solid #e1e1e1;
    }
    .nav-item.dropdown.dropdown-mega .dropdown-menu {width: 100%;}
    .nav-wrapper,
    .mars_mobile_nav1 {display: inline-block !important;}
    p.mega-header1 {
          font-size: 0.8rem;
          margin: 0rem;
      }
    .list-group-item{
      margin-top: 0% !important;
      margin-bottom: 0% !important;
    }
    .top-left {font-size: .77rem;}
    .col-in_top.top-left a {font-size: .8rem;}
    a.the_top_buttons {
    background: #ffffff;
    padding: .1% 2.5%;
    float: right;
    margin: 0.2rem;
    }
    a.navbar-brand.mx-auto {
    width: 78%;
    margin-right: 0% !important;
    margin-left: 0% !important;
    }
    img.main_logo {max-height: 4rem; width: auto;}
    img#mars_logo {
        padding: 0.5rem;
        padding-right: 0rem !important;
    }
}



@media only screen and (max-width: 391px) {
    a.the_top_buttons.shadow-sm.rounded {
        display: none;
    }
    .mobile-connect1 {display: inline-block !important;}
}
