div#mySidenav svg {
    color: #fce3aa !important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: .85rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.sidenav a:hover {
  color: #f1f1f1;
}

a.sidenav-link{
  border-bottom: 1px solid #dbd3be;
  color: #fff !important;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
